.sidepanel {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 300px;
    z-index: 3;
    &__link {
        &:hover {
            svg path {
                transition: all 0.6s;
                fill: $main-color;
            }
        }
    }
    &__divider {
        width: 2px;
        height: 70px;
        background-color: #fff;
    }
    &__text {
        color: #fff;
        font-size: 16px;
        width: 25px;
        height: 150px;
        span {
            display: block;
            transform: rotate(-90deg) translate(-30%, -260%);
            width: 150px;
        }
    }
}